
services:
  app:
    build: ./app
    env_file:
      - .env
    networks:
      - appnet
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8000/healthz"]
      interval: 5s
      timeout: 5s
      retries: 5

  nginx:
    build: ./nginx
    ports:
      - "8080:8080"
    depends_on:
      app:
        condition: service_healthy
    networks:
      - appnet
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8080/healthz"]
      interval: 10s
      timeout: 3s
      retries: 3


networks:
  appnet: